/* rgb 121, 126, 204 */
* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 19.36px;
  text-decoration: none;
}

hr {
  margin: 40px 0 40px 0;
}

.header {
  max-height: 80px;
}

.header__title {
  font-size: 44px;
}

.header__logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__subtitle,
.footer__subtitle {
  font-size: inherit;
  color: rgb(121, 126, 204);
}

.header__subtitle {
  margin-left: 10px;
}

.wrapper {
  /* outline: 1px dashed rgb(121, 238, 25); */
  width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

img {
  max-width: 100%;
}

.img-radio {
  border: 1px solid #888888;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-radio:hover {
  background: rgb(214, 212, 212);
}

.main__radio:checked+.img-radio {
  border-radius: 5px;
  border: 3px solid rgb(199, 99, 245);
}

.main__radio:checked+.button-radio {
  border-radius: 6px;
  border: 3px solid rgb(199, 99, 245);
}

label {
  user-select: none;
}

button {
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  cursor: pointer;
}

.custom-button {
  border: 1px solid #888888;
  padding: 5px 10px;
  border-radius: 4px;
}

.custom-button:hover {
  cursor: pointer;
  background-color: #dfdede;
}

ul {
  margin-left: 35px;
  padding: 0;
}

li::marker {
  color: #888888;
  font-size: 35px;
}


.main__configuration {
  display: flex;
  gap: 5px;
}

.main__radio {
  user-select: none;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.selected__item {
  margin-top: 0;
  padding: 0;
}

a {
  color: #008CF0;
}

a:hover {
  color: #a200ff;
  cursor: pointer;
}

.main__nav {
  padding-top: 29px;
}

.main__content {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 30px 0;
}

.main__price {
  padding: 20px;
  background: #ffffff;
  border: 1px solid #bebdbd;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  margin-bottom: 67px;
  display: flex;
  flex-direction: column;
}

.main__sidebar {
  /* outline: 1px solid green; */
  display: flex;
  flex-direction: column;
}


.price__old,
.price__new {
  font-style: normal;
  font-weight: 500;

}

.price__old {
  font-size: 16px;
  line-height: 16px;
  color: #888888;
}

.price__new {
  font-size: 32px;
  line-height: 39px;
}

.Discount {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #f3eded;
  padding: 8px 10px;
  background: rgb(197, 158, 230);
  border-radius: 500px;
  box-sizing: border-box;
}

.button__cart,
.favorites__button {
  margin-bottom: 20px;
  padding: 20px 49px;
  height: 64px;
  background: rgb(222, 202, 238);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}

.button__cart:hover {
  background: rgb(197, 144, 240);
}

.favorites__button:hover {
  background: rgb(197, 144, 240);
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.main__iframe {
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.main__gallery {
  display: flex;
  gap: 10px;
}

.main__preview {
  display: flex;
  gap: 10px;
}

.main__table {

  border-collapse: collapse;
  border: 1px solid #888888;
}

.table__title {
  border: 1px solid #888888;
  padding: 10px;
}

.table__info {
  border-right: 1px solid #888888;
  padding: 10px;
}

.table-row:hover {
  cursor: pointer;
  background: rgb(222, 202, 238);
}

.reviews {
  margin-top: 50px;
  width: 741px;
}

.reviews__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.review__item {
  display: flex;
  padding-top: 10px;
  margin-bottom: 40px;
}

.reviews__subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review__text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.reviews__count {
  color: #aaaaaa;
}

.review__avatar {
  border-radius: 100px;
}

.main__ad {
  color: #888888;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
}