/* rgb 121, 126, 204 */
* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;

}

img {
  max-width: 100%;
}

button {
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #018ad2;
}

a:hover {
  text-decoration: underline;
  color: #c00;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
}

iframe {
  border: 1px dashed #ccc;
}

.header__title {
  font-size: 33px;
}

.header__logo {
  display: flex;
  max-height: 43px;
}

.header__subtitle,
.footer__subtitle {
  font-size: inherit;
  color: rgb(121, 126, 204);
}

.main__gallery {
  display: flex;
}

.reviews__title {
  display: flex;
  align-items: center;
}

.reviews__item {
  display: flex;
  padding-top: 10px;

}

.reviews__text {
  padding-left: 20px;
}

.reviews__count {
  color: #aaaaaa;
}