/* rgb 121, 126, 204 */
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header__logo {
  display: flex;
  max-height: 43px;
}

.header__title,
.footer__title {
  color: rgb(121, 126, 204);
}

.main__gallery {
  display: flex;
}

.reviews__title {
  display: flex;
  align-items: center;
}

.reviews__count {
  color: #aaaaaa;
}
