.preview__selected-item {
    padding: 4px;
}

.preview {
    display: flex;
    gap: 10px;
}

.preview__img-radio {
    border: 1px solid #888888;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.preview__img-radio:hover {
    background: rgb(214, 212, 212);
}

.preview__img-radio:active {
    border: 3px solid rgb(98, 2, 128)
}

.radio:checked+.preview__img-radio {
    border: 3px solid rgb(199, 99, 245);
}