.table {
    border-collapse: collapse;
}

@media (min-width: 1024px) and (max-width: 1499px) {

    .table,
    .compare-title {
        display: none;
    }
}

.table__title,
.table__info {
    border: 1px solid #888888;
    padding: 9px;
}

.table__row:hover {
    cursor: pointer;
    background: rgb(222, 202, 238);
}