.PopularCategories__title {
    margin-top: 30px;
    font-size: 32px;
}

.gallery {
    display: flex;
    gap: 10px;
}

.PopularCategories__inner {
    display: flex;
    gap: 30px;
}

.PopularCategories {
    user-select: none;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #888888;
    border-radius: 4px;
    width: 200px;
    height: 115px;
    display: flex;
    margin-bottom: 100px;
}

.PopularCategories:hover {
    box-shadow: 0 0 0 4px #888888 inset;
    outline: 0;
    cursor: pointer;
}

.phones {
    font-size: 20px;
    color: black;
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .phones {
        font-size: 17px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .gallery img {
        height: 220px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .PopularCategories__title {
        margin-top: 30px;
        font-size: 28px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .PopularCategories img {
        height: 65px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .PopularCategories {
        width: 150px;
        height: 99px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
    .gallery img {
        height: 230px;
    }
}

@media (max-width:425px) {
    .PopularCategories__inner {
        margin-bottom: 100px;
    }
}

@media (max-width:425px) {
    .phones {
        font-size: 17px;
    }
}

@media (max-width:425px) {
    .PopularCategories__title {
        margin-top: 30px;
        font-size: 25px;
    }
}

@media (max-width:425px) {
    .gallery img {
        display: none;
    }
}

@media (max-width:425px) {
    .PopularCategories img {
        height: 65px;
    }
}

@media (max-width:425px) {
    .PopularCategories {
        width: 130px;
        height: 90px;
        margin-bottom: 267px;
    }
}

@media (max-width:360px) {
    .phones {
        font-size: 17px;
    }
}

@media (max-width:360px) {
    .PopularCategories__title {
        margin-top: 30px;
        font-size: 25px;
    }
}

@media (max-width:360px) {
    .gallery img {
        display: none;
    }
}


@media (max-width:360px) {
    .PopularCategories img {
        height: 65px;
    }
}

@media (max-width:360px) {
    .PopularCategories {
        width: 120px;
        height: 90px;
        margin-bottom: 250px;
    }
}